@font-face {
    font-family: 'fz';
    src: url(./方正正中黑简体.ttf);
}

html,
body,
div,
p {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.print {
    width: 710px;
    margin: 0px auto;
    padding: 15px 0px;
}

.print span {
    display: inline-block;
    color: white;
    font-size: 18px;
    line-height: 1;
    padding: 10px 20px;
    background: #57A3F3;
    border: 1px solid #57A3F3;
    border-radius: 5px;
    cursor: pointer;
}

.print span:hover {
    background: #2D8CF0;
}

#label {
    width: 710px;
    height: auto;
    margin: 0 auto;
}

.box {
    width: 100%;
    height: 450px;
    font-family: simhei;
    padding: 15px 20px 0px;
    box-sizing: border-box;
    background: white;
    position: relative;
    overflow: hidden;
    border: 1px solid #000;
}

.box .line {
    width: 580px;
    height: 0;
    border: 1px solid #000000;
    background: #000000;
    margin: 0 auto;
}

.box .line:last-of-type {
    position: absolute;
    bottom: 18px;
    left: 50%;
    margin-left: -290px;
}

.box .title {
    width: 60%;
    height: 75px;
    margin: 0px auto;
    position: relative;
}

.box .title img {
    width: 60%;
}

.box .title .titlename {
    width: 35%;
    height: 100%;
    color: #3F3B3A;
    font-size: 45px;
    font-family: 'fz';
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}

.box .title .titlename .zn {
    height: 45px;
    line-height: 1.2
}

.box .title .titlename .en {
    font-size: 16px;
    text-align: center;
}

.box .userinfo {
    width: 94.5%;
    text-align: center;
    line-height: 1.1;
    padding: 0px 7.5%;
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
}

.box .gt_userinfo {
    height: 55px;
    font-size: 25px;
    line-height: 55px;
    top: 21%;
}

.box .lt_userinfo {
    height: 50px;
    font-size: 45px;
    line-height: 50px;
    top: 22%;
}

.box .lg_userinfo {
    line-height: 1.2;
}

.box .product {
    width: 100%;
    height: 126px;
    font-size: 60px;
    border-width: 2px;
    border-style: dashed;
    border-color: #555555;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    top: 65px;
    overflow: hidden;
}

.box .productname {
    display: inline-block;
    width: 75%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.box .gt_productname {
    font-size: 30px;
    line-height: 2.5;
}

.box .lt_productname {
    font-size: 60px;
    line-height: 1.4;
}

.box .lg_productname {
    line-height: 1.4;
}

.box .productinfo {
    width: 23%;
    height: 84px;
    font-size: 30px;
    line-height: 1.4;
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -42px;
}

.box .productinfo p {
    position: relative;
}

.box .productinfo span {
    display: inline-block;
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

.box .other {
    width: 94.5%;
    height: 126px;
    position: absolute;
    top: 65%;
}

.box .contact {
    display: inline-block;
    width: 49%;
    height: 100%;
    font-size: 30px;
    line-height: 1.2;
    border-width: 2px;
    border-style: dashed;
    border-color: #555555;
    box-sizing: border-box;
    padding: 25px 15px;
}

.box .contact span {
    display: inline-block;
    width: 165px;
    white-space: nowrap;
    overflow: hidden;
    float: right;
}

.box .otherinfo {
    width: 49%;
    height: 100%;
    font-size: 45px;
    text-align: center;
    line-height: 1;
    border-width: 2px;
    border-style: dashed;
    border-color: #555555;
    box-sizing: border-box;
    float: right;
    padding: 16px 35px;
}

.box .otherinfo p {
    white-space: nowrap;
    overflow: hidden;
}